@import './base/_normalize.css';
@import './base/_variables.css';
@import './base/_global.css';

@import './components/header.css';
@import './components/button.css';
@import './components/footer.css';

@import './sections/hero.css';
@import './sections/services.css';
@import './sections/appointment.css';
@import './sections/about.css';
@import './sections/location.css';
