.btn-primary {
  background-color: var(--color-brand);
  color: var(--color-white);
  border: none;
  padding: 16px 32px;
  border-radius: 12px;

  font-size: 16px;
  font-weight: 600;

  display: flex;
  align-items: center;
  gap: 8px;

  transition: 0.3s ease;
}

.btn-primary:hover {
  background-color: var(--color-brand-hover);
}

.whatsapp-icon {
  font-size: 18px;
}

.btn-whatsapp {
  white-space: nowrap;
}

@media (max-width: 768px) {
  .btn-primary {
    padding: 10px 18px;
    font-size: 14px;
  }

  .whatsapp-icon {
    font-size: 16px;
  }
}

