.header {
  width: 100%;
  background-color: var(--color-background);
  position: fixed;
  top: 0;
  z-index: 1000;
 /* border-bottom: 1px solid var(--color-border); */
}

.navbar {
  width: 100%;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: 'Playfair Display', serif;
  font-size: 28px;
  font-weight: 300;
  letter-spacing: 1px;
  color: var(--color-brand);
}

.nav-links {
  display: flex;
  gap: 45px; 
}

.nav-links a {
  text-decoration: none;
  color: var(--color-title);
  font-size: 18px; 
  font-weight: 400; 
  transition: 0.3s ease;
  position: relative;
  padding: 10px 0;
}

.nav-links a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--color-brand);
  transition: 0.3s ease;
}

.nav-links a:hover {
  color: var(--color-brand);
}

.nav-links a:hover::after {
  width: 100%;
}

/* responsivo */
@media (max-width: 768px) {
  .header {
    border-bottom: 1px solid var(--color-border);
  }
  .nav-links {
    display: none;
  }
  .navbar {
    padding: 16px;
    height: 70px;
  }
  .logo {
    font-size: 20px;
    font-weight: 500;
  }
  .btn-primary {
    padding: 8px 10px;
    font-size: 14px;
    border-radius: 12px;
  }
}
